@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  /* ### Neutral */

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  /* --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%); */
}

body {
  font-size: 1.6rem;
}

header {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  background: lightblue;
  color: black;
  padding: 10rem 2rem;
  transform: translateX(-100%);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.open {
  transform: translateX(0);
  visibility: visible;
}

.icon-close {
  position: absolute;
  top: 30px;
  cursor: pointer;
  font-size: 30px;
}

ul.nav-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  color: var(--Very-dark-blue);
  font-weight: 700;
}

header .image-avatar {
  width: 30px;
}

.icon-menu,
.icon-cart {
  margin-right: 2rem;
  cursor: pointer;
}

.logo {
  margin-right: auto;
}

/* Main  */

.container {
  padding-inline: 2rem;
  margin-inline: auto;
}

.heading {
  font-size: clamp(2rem, 10vw, 3rem);
}

.company-name {
  color: var(--Orange);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.product-description {
  color: var(--Dark-grayish-blue);
  margin-block: 3rem;
}

.quantity-control,
.add-to-cart-btn {
  padding-block: 2rem;
  border-radius: 1rem;
  font-weight: 700;
  width: 100%;
  display: flex;
  align-items: center;
}

.add-to-cart-btn {
  background: var(--Orange);
  color: white;
  gap: 2rem;
  justify-content: center;
}

.quantity-control {
  justify-content: space-around;
  background: var(--Light-grayish-blue);
  margin-bottom: 2rem;
}

/* Desktop  */
@media screen and (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 10%;
    border-bottom: 1px solid var(--Grayish-blue);
    gap: 3rem;
    padding: unset;
  }

  .logo {
    margin-right: unset;
  }

  nav {
    margin-right: auto;
    display: block;
    position: unset;
    padding: unset;
    width: unset;
    height: unset;
    background: unset;
    transform: unset;
    visibility: visible;
  }

  .icon-close {
    display: none;
  }

  ul.nav-links {
    flex-direction: row;
    gap: unset;
  }

  .image-avatar,
  .image-cart {
    float: right;
  }

  header .image-avatar {
    width: 50px;
  }

  .icon-menu {
    display: none;
  }

  .nav-links a {
    padding-block: 4rem;
    padding-inline: 2rem;
    color: var(--Dark-grayish-blue);
  }

  .nav-links a:hover {
    border-bottom: 3px solid blue;
  }

  .icon-cart {
    margin-right: unset;
  }
}
